{
  "presets": [
    "@babel/preset-env",
    [
      {
        "env": {
          "development": {
            "sourceMaps": true,
            "retainLines": true
          }
        }
      }
    ]
  ]
}
